body {
  min-height: 100%;
  height: 100%;
  font-family: Roboto sans-serif;
  background: linear-gradient(to left, rgba(0, 0, 255, 0.56),#91EAE4, #86A8E7, #7F7FD5);
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.todoList {
  width: 400px;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}


